@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }

  .about-containers,
  .about-container {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }

  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }

  #profile,
  .section-container {
    display: block;
  }

  .arrow {
    display: none;
  }

  section,
  .section-container {
    height: fit-content;
    margin: 0 6%;
  }

  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }

  .about-containers {
    margin-top: 0;
  }
}


@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }

  #profile {
    height: auto;
    margin-bottom: 0;
  }

  #about {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  article {
    font-size: 1rem;
  }

  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }

  .about-containers {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
  }

  .about-pic {
    max-width: 100%;
  }

  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .text-container {
    text-align: center;
  }

  .experience-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .experience-sub-title {
    font-size: 1rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .section__pic-container {
    width: auto;
    height: auto;
    justify-content: center;
  }

  .title {
    font-size: 2rem;
  }

  .text-container {
    text-align: justify;
  }

  .section__text_p2 {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 390px) {
  #contact,
  footer {
    height: 40vh;
  }

  #profile {
    height: auto;
    margin-bottom: 0;
  }

  #about {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  article {
    font-size: 1rem;
  }

  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }

  .about-containers {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
  }

  .about-pic {
    max-width: 100%;
    position: relative;
  }

  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .text-container {
    text-align: center;
  }

  .experience-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .experience-sub-title {
    font-size: 1rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .section__pic-container {
    width: auto;
    height: auto;
    justify-content: center;
  }

  .title {
    font-size: 2rem;
  }

  .text-container {
    text-align: justify;
  }

  .section__text_p2 {
    font-size: 1.25rem;
  }
}
